{#
/**
 * @file
 * Default theme implementation for an image field widget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - data: Render elements of the image widget.
 *
 * @see template_preprocess_image_widget()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('grid-x') }}>
    <div class="small-12 medium-8">
        {# Render widget data without the image preview that was output already. #}
        {{ data|without('preview') }}
    </div>
    <div class="small-12 medium-4">
        {{ data.preview }}
    </div>
</div>
