<div class="payment description">{{ description }}</div>

<div class="payment button">{{ button }}</div>

{% if footer is not empty %}
  <div class="payment payment-message">{{ footer }}</div>
{% endif %}
