<li class="timeline-item">
    <div class="timeline-info">
        <span>&nbsp;</span>
    </div>
    <div class="timeline-marker"></div>
    <div class="timeline-content">
        <h3 class="timeline-title">{{ content.field_item_header_title|render|striptags|trim }}</h3>
        {{ content.field_item_body }}
    </div>
</li>