<li class="timeline-item period">
    <div class="timeline-info"></div>
    <div class="timeline-marker"></div>
    <div class="timeline-content">
        <h2 class="timeline-title">{{ content.field_section_title|render|striptags|trim }}</h2>
    </div>
</li>
{{ content.field_section_items }}