.event-details__box {
  margin-bottom: 1em;
  font-family: $monsterrat;
  font-weight: 600;
}
.field__add__to__schedule {
  margin-top: 1.5em;
}
.flag-add-to-schedule {
  i {
    margin-right: 15px;
  }
}
.event-details__field {
  display: flex;
  align-items: center;
  line-height: 2.5;
  i {
    color: $dark-salmon;
    font-size: 1.5em;
    width: 1em;
    text-align: center;
    margin-right: 0.5em;
  }
}
