// Quick fixes to this page.
.page-node--22 {
  article {
    h2 {
      margin-top: 1em;
    }
    h3 {
      margin-top: 1.25em;
      margin-bottom: 0.5em;
      font-size: rem-calc(24);
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 4px solid $salmon;
      &:first-of-type {
        margin-top: 0.75em;
      }
    }
    li {
      margin-bottom: 5px;
    }
  }
}
