.event-details__box {
  margin-bottom: 1em;
  font-family: $monsterrat;
  font-weight: 600;

  a {
    @extend .bold-link;
  }
}
.field__add__to__schedule {
  margin-top: 1.5em;
}
.flag-add-to-schedule {
  i {
    margin-right: 10px;
  }
}
.event-details__field {
  display: flex;
  align-items: center;
  margin: 10px 0;
  i {
    color: $dark-salmon;
    font-size: 1.25em;
    width: 1em;
    text-align: center;
    margin-right: 0.5em;
  }
}

.event-details__field--venue,
.event-details__field--topics {
  line-height: 1.3;
}

.event-attachments {
  .field-label {
    color: $dark-salmon;
    font-weight: 700;
    font-size: rem-calc(20);
  }
  a {
    @extend .link;
    line-height: 1.8 !important;
  }
  .event-attachment--links {
    margin-bottom: 2.5em;
  }
}
