#block-header-menu {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include breakpoint('large') {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $white;
  }

  ul {
    float: right;
    @include breakpoint('large') {
      float: none;
    }
  }

  li {
    margin: 0 8px;
    a {
      @include breakpoint('large') {
        font-size: 0.9375em;
      }
      @include breakpoint('xlarge') {
        font-size: 1.25em;
      }
    }
  }
  .big-button {
    text-transform: uppercase;
  }
}

.responsive-menu-button-wrap {
  float: left;
  border-radius: 25px;
  background-color: $lightblue;
  padding: 1rem;
  line-height: 1;
}
