.job-postings__listings {
  margin-top: 2.5em;
  .views-row {
    margin-bottom: 1.875em;
    border-top: 1px solid $medium-gray;
    padding-top: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      @extend .views-teaser-h2;
    }
  }
}

.job-posting__display--teaser {
  .job-posting__sponsor-logo {
    text-align: center;
  }
}

//node
.job-posting__apply-link {
  font-family: $monsterrat;
  a {
    @extend .link;
  }
}
