.mailchimp-signup-subscribe-block-stay-connected-form {
  padding: 2em 0;

  @include breakpoint('medium') {
    padding: 5em 0;
  }
  background-color: $blueish;

  .description {
    font-family: $fairplex-wide;
    font-size: 1.375em;
    line-height: 1.55;
    text-align: center;
    margin: 1em 0;
  }

  .inputs {
    position: relative;
  }

  input[type="email"] {
    font-family: $fairplex-wide;
    font-size: 1.125em;
    line-height: 1.56;
    color: $purpleish;
    height: 51px;
    margin-bottom: 0;
    border: 0 solid;
    width: 100%;
    @include breakpoint('medium') {
      width: 446px;
    }
  }

  input[type="submit"] {
    background-color: $salmon;
    border-radius: 30px;
    font-family: $monsterrat;
    font-size: 1.25em;
    color: $navy;
    font-weight: 700;
    margin: 0;

    width: 100%;
    margin-top: 10px;
    @include breakpoint('medium') {
      margin-top: 0;
      position: absolute;
      top: 0;
      width: 297px;
      height: 52px;
      right: 0;
    }
  }
}