.main-navigation {
  background-color: $grayish;
  font-family: $monsterrat;
  @include breakpoint('medium') {
    margin-bottom: 20px;
  }
}

.navigation-wrap {
  @include breakpoint('medium') {
    @include xy-grid-container;
  }
}

#block-mainnavigation {
  li {
    a {
      font-size: 1.125em;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        color: darken($lightblue, 15%);
      }
      &:focus {
        outline-offset: 1px;
      }
    }
    > ul {
      background: darken($grayish, 4%);
    }

    &.is-accordion-submenu-item {
      a {
        padding-left: 2em;
      }
    }
  }
}
