.main-navigation {
  background-color: $grayish;
  margin-bottom: 2em;
}

#block-mainnavigation {
  > ul {
    @extend .flex-container;
    @extend .align-stretch;
    @include breakpoint('large') {
      padding-right: 1em;
    }

    li {
      a {
        font-size: 1.125em;
        font-family: $monsterrat;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 0;
        @include breakpoint('medium') {
          text-align: left;
        }
        @include breakpoint('large') {
          font-size: 1em;
        }
        @include breakpoint('xlarge') {
          font-size: 1.125em;
        }
      }
    }

    > li {
      padding: 0 0.75em;
      @extend .flex-child-grow;
      @include breakpoint('large') {
        &.leaf-0 {
          padding-left: 0;
        }
        @include breakpoint('xlarge') {
          padding: 0 0.875em;
        }
      }

      li {
        a {
          padding: 1rem !important;
        }
      }
    }
  }

  .drilldown .is-drilldown-submenu a,
  .drilldown a,
  .dropdown .is-dropdown-submenu a,
  .dropdown.menu > li > a {
    padding: 17px 0px;
  }
}
