.path-node {
  h1 {
    margin-bottom: 0.5em;
  }
}

.field {
  margin: 0.5em 0;
}

.field__label {
  font-family: $monsterrat;
  font-weight: 600;
  text-transform: uppercase;
  color: $navy;
  font-size: rem-calc(16);
}

.field__label--inline {
  float: left;
  margin-right: 8px;

  &:after {
    content: ':';
  }
}
