.registration-steps {
  font-family: $monsterrat;
  margin: 3em 0;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3em;
  font-weight: 600;
}

.step-number {
  color: white;
  background: $navy;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  padding-top: 14px;
  font-size: 30px;
  margin-bottom: 10px;

  &.active {
    color: $navy;
    background: $salmon;
  }
}

// Step 1

.user-register-form {
  .field--name-field-social-profile-links {
    margin-top: 3em;
    @include breakpoint('large') {
      .form-item {
        max-width: 760px;
      }
    }
  }
}

.fieldset--options {
  margin-bottom: 1em;
  margin-left: -1px !important;
  .form-item {
    margin-bottom: 0.75em;
  }
}

// Step 2
.donation-block {
  background: $grayish;
  padding: 1em 1.5em;
  margin-bottom: 1.5em;
  font-family: $monsterrat;
  position: relative;

  .button {
    position: absolute;
    bottom: 0;
  }
}

.donation-block__title {
  font-size: rem-calc(32);
  font-weight: 700;
  margin-bottom: 10px;
}

.donation-block__body {
  padding-bottom: 2.75em;
}
