.event-details {
  h2 {
    text-align: center;
    font-size: 2.625em;
    font-family: $monsterrat;
    font-weight: 700;
    line-height: 1;

    padding: 69px 0 37px 0;
  }

  .event-detail {
    .event-detail-title {
      font-family: $monsterrat;
      font-weight: 700;
      font-size: 1.875rem;
      margin-bottom: 7px;
    }

    p:not([class]) {
      font-family: $fairplex-wide;
      font-size: 1.125rem;
      line-height: 1.5;
    }

    a {
      font-family: $monsterrat;
      font-weight: 700;
      font-size: 1rem;
      text-decoration: underline;
      &:after {
      }
    }
  }
  .event-detail-image {
  }

  margin-bottom: 51px;
}
