.page-heading {
  font-size: 3.25rem;
  font-family: $monsterrat;
  font-weight: 700;
  line-height: 1;
  color: $navy;
  padding: 17px 0;
}

.front-heading-main {
  font-size: 1.375em;
  font-family: $fairplex-wide;
}

.badcamp-at-a-glance {
  background-color: $grayish;
  padding: 17px 0;
  @include breakpoint('medium') {
    padding: 40px 27px 36px;
  }

  .stat {
    font-size: 3rem;
    line-height: 1;

    .stat-number {
      font-size: 3rem;
      font-family: $monsterrat;
      font-weight: 600;
      line-height: 1;
      margin: 0;
    }

    p:not([class]) {
      font-size: 1.375rem;
      font-family: $fairplex-wide;
      line-height: 1.18;
      margin: 0;
      min-height: 55px;
    }
  }

  .text {
    font-size: 1.375em;
    line-height: 1.18;
    font-family: $fairplex-wide;
  }

  .section1 {
    font-size: 2.625em;
    font-family: $monsterrat;
    font-weight: bold;
    line-height: 1;
    p {
      line-height: 1;
    }

    img {
      transform: rotate(90deg);
      @include breakpoint('medium') {
        transform: rotate(0deg);
      }
    }
  }
  .section2 {
  }
  .section3 {
  }
  .section4 {
  }

  .section1,
  .section2,
  .section3,
  .section4 {
    margin: 1em 0;
    @include breakpoint('medium') {
      margin: 0;
    }
  }
}

.event-details {
  h2 {
    text-align: center;
    font-size: 2.625em;
    font-family: $monsterrat;
    font-weight: 700;
    line-height: 1;

    padding: 69px 0 37px 0;
  }

  .event-detail {
    .event-detail-title {
      font-family: $monsterrat;
      font-weight: 700;
      font-size: 1.875rem;
      margin-bottom: 7px;
    }

    p:not([class]) {
      font-family: $fairplex-wide;
      font-size: 1.125rem;
      line-height: 1.5;
    }

    a {
      font-family: $monsterrat;
      font-weight: 700;
      font-size: 1rem;
      text-decoration: underline;
      &:after {
      }
    }
  }
  .event-detail-image {
  }

  margin-bottom: 51px;
}

.main-block {
  .paragraph--type--columns {
    padding: 0;
  }
}
