.time-slot,
.schedule-day {
  margin-top: 2.5em;
  margin-bottom: 1em;
  font-size: rem-calc(28);
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 4px solid $salmon;

  &:first-of-type {
    margin-top: 1em;
  }
}

// Schedule Tabs
#quicktabs-schedule {
  .quicktabs-tabs {
    @include xy-grid;
    margin: 2.5em 0;
    border-bottom: 3px solid $grayish;
    padding: 0;
    li {
      @include xy-cell();
      width: 100%;
      font-family: $monsterrat;
      font-size: rem-calc(26);
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      padding: 0.5em;
      margin: 0;

      @include breakpoint('medium') {
        width: 25%;
      }

      a {
        border-bottom: none;

        &:hover {
          color: $midblue;
        }
      }

      &.active {
        background: $grayish;
        a {
          color: $dark-salmon;
        }
      }
    }
  }
}

// Schedule Filters
.schedule-view {
  legend {
    text-align: center;
    margin-bottom: 1em;
  }
  .fieldset-legend {
    color: $dark-salmon;
    font-size: rem-calc(24);
    font-weight: 700;
  }
  #edit-topics {
    text-align: center;
    width: 96%;
    margin: 0 auto;
    margin-bottom: 1em;
    .form-item {
      display: inline-block;
      margin: 5px 3px;
    }
    [type='checkbox'] + label {
      margin-left: 2px;
    }
  }
}
