.social-media-links--platforms {
  margin-bottom: 0;
  margin-left: 0;
  text-align: right;
  li {
    padding: .2em .70em;
  }
  .fa {
    font-size: 1.375em;
  }
  a {
    @include border-radius(25px);
    background-color: $grayish;
    display: block;
    line-height: 1;
    padding: 12px;
    border-bottom: 0px;
  }
}
