.sponsor-level {
  font-family: $monsterrat;
  color: $dark-salmon;
  text-transform: uppercase;
  font-weight: 700;
}

// sponsors view
.views-group--sponsors {
  margin-bottom: 4em;
  @include breakpoint('medium') {
    justify-content: center;
    align-items: center;
  }

  .views-row {
    margin-bottom: 2.5em;
    padding: 1.5em;
    @include breakpoint('medium') {
      margin-bottom: 1.25em;
    }
  }
}

.views-group__h2--sponsors {
  @extend .sponsor-level;
  margin: 1.5em 0;
  border-bottom: $light-gray 1px solid;
}

.node--view-mode-sponsor-logo {
  a {
    border-bottom: none;
  }
}

// sponsors footer block
#block-views-block-sponsors-core-sponsors {
  background: $grayish;
  padding: 3em 0 3.5em 0;
  h2 {
    text-align: center;
    margin: 0 0 1.5em 0;
  }
}

// .path-frontpage #block-views-block-sponsors-core-sponsors {
//   background: $white;
// }

// sponsors node page
.node--type-sponsor {
  .field--sponsor-text {
    padding: 1em 0 2em;
    @include breakpoint('medium') {
      padding-right: 3em;
    }
  }
  .field--sponsor-level {
    @extend .sponsor-level;
    font-size: rem-calc(20);
    line-height: 1.125;
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
  .field--sponsor-logo {
    img {
      max-height: 200px;
      width: auto;
    }
  }
  .sponsor-team-member {
    padding: 2em 0;

    .attendee-name {
      margin: 0.5em 0;
    }

    a {
      border-bottom: none;

      &:focus {
        outline: 2px dotted $navy;
        outline-offset: 2px;
      }
    }
  }
}

.button.edit-sponsor {
  margin-top: 1.5em;
}

.sponsor-events-view {
  .view-grouping-header {
    @extend .schedule-day;
  }
  .view-grouping-content {
    h3 {
      @extend .time-slot;
      padding-top: 0;
    }
  }
}
