// summit node full page display

// summit teaser display
.summit__display--teaser {
  .summit__title {
    font-size: rem-calc(36);
    line-height: 1.3;
    margin-bottom: 0.5em;
    a {
      border-bottom: none;

      &:hover {
        border-bottom: 3px solid $lightblue;
      }
    }
  }
}

// summits listing view
.summits__listing {
  margin-top: 0.75em;
  margin-bottom: 2em;

  .views-row {
    background: $grayish;
    padding: 1.25em 1.75em 1.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    position: relative;
    overflow: hidden;
  }
}
