a.tabs-trigger {
  position: absolute;
  text-decoration: none;
  top: 100px;
  right: -75px;
  font-size: 16px;
  letter-spacing: -1px;
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
  display: block;
  z-index: 100;
  background: #333;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #111;
  border-bottom: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  > i {
    position: relative;
    top:  1px;
    display: inline;
    padding-left: 10px;
  }
}

.tabs-list {
  display: none;
}

#tabs-wrapper {
  position: fixed;
  top: 110px;
  left: -2px;
  border: 1px solid #111111;
  width: auto;
  height: auto;
  min-height: 130px;
  filter: alpha(opacity=85);
  opacity: .85;
  z-index: 100;
  padding: 5px 0 16px 0;
  background: white;
  ul.primary {
    padding: 0;
    margin: 0 0 1em 0;
    background: transparent;
    > li {
      display: block;
      float: none;
      padding: 0.5em 0;
      margin: 0 0.5em;
      background-color: transparent;
      a {
        border: none;
        width: 100%;
        text-align: left;
        //background-color: transparent;
      }
      &.active {
        a {
          background-color: transparent;
        }
      }
    }
  }

  &.open {
    .tabs-list {
      display: block;
    }
  }
}

.admin-menu #tabs-wrapper {
  top: 150px;
}

#block-site-theme-local-tasks {
  #tabs-wrapper ul.primary>li a {
    border-radius: 0;
  }
}

// Tabs.
.tabs {
  display: table;
  margin: 0 auto 2rem auto;

  &.vertical {
    margin: 0;
    > li:first-child a,
    > li:last-child a{
      border-radius: 0 0 0 0;
    }

  }

  > li {
    > a {
      background: #d6d3d3;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1;
      padding: 1em 2em;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .25s ease-out,color .25s ease-out;

      @include breakpoint(small only) {
        font-size: 70%;
      }

      &:hover {
        background: #ef7847;
        color: #fff;
      }
    }
  }
}
