.training__display--teaser,
.training__display--schedule,
.training__display--sponsor-item {
  background: $grayish;
  padding: 1.25em 1.5em 1em;
  margin-bottom: 2em;

  h2,
  h3,
  h4 {
    margin-bottom: 0.5em;
    font-size: rem-calc(34);
  }
}
