.user__display--full {
  margin-bottom: 2em;
}

.user__attendee-name {
  @extend .attendee-name;
  font-size: rem-calc(26);
  margin-top: 0.5em;
  display: block;
  .first-name {
    float: left;
    margin-right: 8px;
  }
}

.user__attendee-org {
  @extend .attendee-name;
  font-size: rem-calc(19);
  margin-top: 0.5em;
  font-weight: 600;
  .user-title,
  .separator {
    float: left;
    margin-right: 3px;
  }
}

.user__attendee-bio {
  margin-top: 0.875em;
}

.user__attendee-social {
  margin-top: 2em;
  .social-media-links--platforms {
    justify-content: flex-start;
    li {
      margin: 0 15px 0 0;
    }
  }
}
