{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
<div class="timeslot">
    <div class="grid-x">
        <div class="small-12 medium-3">
            <h3 class="margin-vertical-1 margin-horizontal-1">{{ title }}</h3>
        </div>
        <div class="small-12 medium-9">
            {% for row in rows %}
                {%
                    set row_classes = [
                    default_row_class ? 'views-row',
                ]
                %}
                <div{{ row.attributes.addClass(row_classes) }}>
                    {{ row.content }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>