@for $i from 0 through 10 {
  .border-bottom-#{$i} {
    border-bottom: #{$i}px solid;
  }

  .border-top-#{$i} {
    border-top: #{$i}px solid;
  }

  .border-left-#{$i} {
    border-left: #{$i}px solid;
  }

  .border-right-#{$i} {
    border-right: #{$i}px solid;
  }
}

.border-color-coral {
  border-color: $salmon;
}
