@mixin button($bg: $lightblue, $color: $navy, $size: regular) {
  @include border-radius(25px);
  border: 0;
  font-family: $monsterrat;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background-color: $bg;
  color: $color;
  @if $size == big {
    font-size: 1.125rem;
    padding: 1rem;
  } @else {
    font-size: 0.9375rem;
  }
  &:hover {
    color: $color;
    @if $bg == $salmon {
      background-color: lighten($bg, 3%);
    } @else {
      background-color: lighten($bg, 4%);
    }
  }
  &:focus,
  &:active {
    outline: 0;
    border: 2px dotted $navy;
  }
  a {
    border-bottom: none !important;
  }
}

.button {
  @include button();
}
.big-button {
  @include button($size: big);
}
.big-button.salmon {
  @include button($salmon, $navy, big);
}
.big-button.tealish {
  @include button($tealish, $navy, big);
}
