.region--navigation {
  margin-bottom: 40px;
}

.main-navigation {
  background-color: $grayish;
}

#block-mainnavigation {
  ul {
  }
  > ul {
    @extend .flex-container;
    @extend .align-stretch;
    padding-right: 2em;

    li {
      a {
        font-size: 1.375em;
        font-family: $monsterrat;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: center;

        border-bottom: 0;
      }
    }

    > li {
      padding: 0 1em;
      @extend .flex-child-grow;
      &.leaf-0 {
        padding-left: 0;
      }

      li {
        a {
          padding: 1rem !important;
        }
      }
    }
  }

  .drilldown .is-drilldown-submenu a,
  .drilldown a,
  .dropdown .is-dropdown-submenu a,
  .dropdown.menu > li > a {
    padding: 17px 0px;
  }
}
