//.navigation-wrap{
//  margin: 1rem 0;
//  background-color: $white;
//  @include border-radius(25px);
//
//  .drilldown .is-drilldown-submenu a,
//  .drilldown a,
//  .dropdown .is-dropdown-submenu a,
//  .dropdown.menu>li>a {
//    &:hover{
//      background-color: $navy;
//      color: white;
//    }
//  }
//
//  .is-dropdown-submenu {
//    @include border-radius(25px);
//  }
//
//  .menu-level-0 {
//    > .leaf-0 {
//      > a {
//        &:hover {
//          @include border-radius(25px 0 0 25px);
//        }
//      }
//    }
//  }
//}

.region--navigation {
  margin-bottom: 40px;
}

.navigation-wrap {
  padding-left: 0;
  padding-right: 0;
}

.main-navigation {
  background-color: $grayish;
}

#block-mainnavigation {
  ul {

  }
  > ul {
    @extend .flex-container;
    @extend .align-stretch;
    max-width: 1049px;

    li {
      a {
        font-size: 1.375em;
        font-family: $monsterrat;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: center;

        border-bottom: 0;
      }
    }

    > li {
      //@extend .auto;
      @extend .flex-child-grow;

      li {
        a {
          padding: 1rem !important;
        }
      }
    }
  }

  .drilldown .is-drilldown-submenu a,
  .drilldown a,
  .dropdown .is-dropdown-submenu a,
  .dropdown.menu>li>a {
    padding: 17px 0px;
  }
}