<article{{ attributes.addClass('summit__display--full') }}>
  <div{{ content_attributes }}>
    <div class="summit__organizers">
     {{ content.field_members }}
    </div>
    <div class="summit__body">
      {{ content.body }}
    </div>
  </div>
</article>
